<% if flash[:notice] %>
  <div class="fixed top-4 right-4 z-50">
    <div class="rounded-lg bg-green-50 p-4 shadow-lg animate-slide-in">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-green-800"><%= flash[:notice] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="min-h-screen bg-gradient-to-br from-gray-50 to-blue-50">

  <!-- Навигация -->

  <% provide :navbar_title, "Барахла.НЕТ!" %>
  <%= render "layouts/navbar" %>

  <!-- Контент -->
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

    <%= render "advertisements/search_form" %>


    <% if Advertisement.includes(:user).order(created_at: :desc).any? %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-6 lg:gap-7">
        <%= render partial: "shared/advertisements/advertisement_card", collection: Advertisement.includes(:user).order(created_at: :desc), as: :advertisement %>
      </div>

    <% else %>

    <%end %>

  </div>
</div>